* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Sono", sans-serif;
  width: 100%;
  display: grid;
  justify-content: center;
  background-image: url(/img/chicaflor.jpg);
  background-attachment: fixed;
}

.redes_icons {
  padding-left: 1em;
  padding-top: 1em;
  width: 100px;
  height: 100px;
  position: fixed;
  display: grid;
}

.fa-brands {
  padding-bottom: 10px;
}

.fa-instagram,
.fa-facebook,
.fa-twitter,
.fa-youtube {
  opacity: 1;
  transition: opacity 0.5s ease;
}

.fa-instagram:hover,
.fa-facebook:hover,
.fa-twitter:hover,
.fa-youtube:hover {
  opacity: 0.5;
}

.img_principal {
  width: 100%;
  display: flex;
  justify-content: center;
  padding-bottom: 2em;
}

.header_logo {
  display: grid;
  justify-content: center;
  padding-top: 2em;
  padding-bottom: 2em;
}

.logo {
  opacity: 1;
  transition: opacity 0.5s ease;
}

.logo:hover {
  opacity: 0.7;
}

a {
  text-decoration: none;
  color: black;
}

a.special-link {
  text-decoration: underline;
}

a.special-link {
  opacity: 1;
  transition: opacity 0.5s ease;
}

a.special-link:hover {
  opacity: 0.5;
}

.bold {
  font-weight: bold;
}

.navlink1,
.navlink2,
.navlink3,
.navlink4,
.navlink5,
.li_link1,
.li_link2,
.li_link3 {
  color: rgb(0, 0, 0);
  text-decoration: none;
  opacity: 1;
  transition: opacity 0.5s ease;
}

.navlinks_contact,
.navlinks_work,
.navlinks_events {
  font-weight: bold;
}

.navlink1:hover,
.navlink2:hover,
.navlink3:hover,
.navlink4:hover,
.navlink5:hover,
.li_link1:hover,
.li_link2:hover,
.li_link3:hover {
  opacity: 0.5;
}

ul {
  display: flex;
  justify-content: center;
  padding-bottom: 1em;
  text-align: none;
  font-size: small;
}

ul,
ol {
  list-style-type: none;
  color: black;
}

.navlinks {
  padding-inline: 2em;
}

.col_ilus,
.col_textil,
.col_figuras {
  display: grid;
  justify-content: center;
}

.sup_ilus,
.sup_tex,
.sup_fig {
  width: 100%;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 1);
  color: white;
  font-weight: 300;
  transition: visibility 1s, opacity 0.5s ease;
}

.col_ilus:hover .sup_ilus {
  visibility: visible;
  opacity: 0.5;
}
.col_textil:hover .sup_tex {
  visibility: visible;
  opacity: 0.5;
}
.col_figuras:hover .sup_fig {
  visibility: visible;
  opacity: 0.5;
}

.trabajos_title {
  font-size: large;
  font-weight: 600;
  padding-top: 1em;
  padding-bottom: 1em;
  text-align: center;
}

/*Bio*/

.bio {
  width: 700px;
  display: flex;
  padding-top: 4em;
  margin: auto;
  justify-content: center;
}

.bio_text {
  font-size: small;
}

.bio_text {
  padding-top: 2em;
  padding-left: 2em;
}

.container {
  width: 70%;
  padding-top: 2em;
}

/*Talleres*/

.talleres_title {
  font-size: x-large;
  padding-bottom: 1em;
}

.div_talleres {
  font-size: small;
}

.custom-container {
  background-color: black;
}

.card {
  font-size: small;
  background-color: transparent;
}

/*Contact*/

.container_contacto {
  display: grid;
  grid-template-columns: 1fr 1fr;
  max-width: 800px;
}

.ul_links {
  display: list-item;
  place-items: center;
}

.li_link1,
.li_link2,
.li_link3 {
  text-decoration: underline;
  padding-top: 10px;
}

.contacto_links {
  justify-self: center;
}

.contacto {
  font-size: small;
  width: 100%;
  padding-top: 2em;
}

.mb-4 {
  width: 500px;
}

/*ilustración*/

.header_ilus {
  position: initial;
  width: 100%;
  justify-content: center;
}

.grid_ilus_1,
.grid_ilus_2,
.grid_ilus_3,
.grid_ilus_4,
.grid_ilus_5,
.grid_ilus_6,
.grid_ilus_7,
.grid_ilus_8,
.grid_ilus_9 {
  display: grid;
  padding: 1em;
}

.grid_ilus {
  display: grid;
  justify-content: center;
  font-size: x-small;
  grid-template-columns: repeat(3, 3fr);
  grid-column-gap: 10px;
  grid-row-gap: 1em;
  padding-top: 1em;
}

.box_ilus_1,
.box_ilus_2,
.box_ilus_3,
.box_ilus_4,
.box_ilus_5,
.box_ilus_6,
.box_ilus_7,
.box_ilus_8,
.box_ilus_9 {
  display: grid;
  justify-content: center;
}

/*events*/

.div_events {
  margin: auto;
  display: grid;
  justify-items: center;
  padding-bottom: 30px;
}

.a_events {
  font-weight: bold;
}

.div_events_title {
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: center;
  font-size: medium;
}

/*figuras*/

.grid_ilus p {
  display: flex;
  justify-content: center;
}

/*espacios*/

.espacio_ilus,
.espacio_textil,
.espacio_figuras {
  height: 30px;
  border-bottom: 1px dotted black;
}

/*eventos*/

.container_animexpo {
  display: flex;
  flex-direction: row;
  align-items: center;
  border-bottom: 1px dotted black;
  padding-bottom: 1em;
  padding-top: 1em;
}

.img_animexpo {
  max-width: 200px;
  margin-right: 20px;
}

.text_animexpo {
  flex: 1;
}

.h5_animexpo {
  font-size: 24px;
  margin-bottom: 10px;
}

.p_animexpo {
  font-size: 12px;
}

.container_expo {
  display: flex;
  flex-direction: row;
  align-items: center;
  border-bottom: 1px dotted black;
  padding-bottom: 1em;
  padding-top: 1em;
}

.img_expo {
  max-width: 200px;
  margin-right: 20px;
}

.text_expo {
  flex: 1;
}

.h5_expo {
  font-size: 24px;
  margin-bottom: 10px;
}

.p_expo {
  font-size: 12px;
}

.a_eventos {
  text-decoration: underline;
}

.esoestodo {
  padding-top: 20px;
  padding-bottom: 10px;
  display: flex;
  justify-content: center;
}

/*Footer*/
footer {
  font-size: x-small;
  display: flex;
  justify-content: center;
  padding-top: 3em;
  padding-bottom: 3em;
}

/*works*/

.works_img {
  display: flex;
  gap: 100px;
}

.ilus,
.design {
  opacity: 1;
  transition: opacity 0.5s ease;
}

.ilus:hover,
.design:hover {
  opacity: 0.8;
}

/*responsive*/
